<app-header-buttons (touchCreate)="showDialog()" (touchDelete)="deletewiners()"
  [activate_rifa]="true"></app-header-buttons>

<section class="main-form p-3 md:p-0  pb-5 md:pb-0">
  <h1 class="text-3xl md:text-4xl mb-4 text-gradient">Listado de Rifa</h1>
  <!-- FOTO -->
  <p-table [value]="listRaffle" styleClass="p-datatable-striped" [tableStyle]="{'min-width': 'w-5'}">
    <ng-template pTemplate="header">
      <tr>
        <th class="p-3">Nombre</th>
        <th>Precio</th>
        <th>Fondos</th>
        <th>Estatus</th>
        <th>Acción</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td class="p-3">{{product.nombre}}</td>
        <td>{{product.precio+' $'}}</td>
        <td>{{product.fondos_recaudados+' $'}}</td>
        <td class="uppercase" [style.color]="product.status === 'activa' ? 'green' : 'red'">
          {{product.status === 'activa' ? 'Activa' : 'Inactiva'}}
        </td>
        <td class="flex gap-1 justify-content-start">
          <button (click)="setRaffle(product)" class="btn-form fa-solid fa-pen"></button>
          <button (click)="activateRaffle(product.id)" [pTooltip]="activar" tooltipPosition="top"
            class="btn-form fa-solid fa-check"></button>
          <button (click)="desactivateRaffle(product.id)" class="btn-form fa-solid fa-xmark"></button>
          <button (click)="deleteRaffle(product.id)" class="btn-form fa-solid fa-trash"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</section>


<p-dialog [modal]="true" contentStyleClass="p-3 md:p-4" [showHeader]="true" [resizable]="false" [(visible)]="visible"
  ngClass="w-5  ">
  <div class="grid">
    <label class="col-12 field file-upload  ">
      <i class="fas fa-upload text-white"></i> Imagen de la rifa
      <input type="file" #fileInput (input)="onFileSelected($event)" (change)="onFileSelected($event)">
      <div *ngIf="selectedFileName" class="text-white text-xs font-semibold">
        Archivo seleccionado: {{ selectedFileName }}
      </div>
    </label>
  </div>

  <!-- nombre de la rifa fecha  -->
  <div class="grid">
    <div class="field col-12 md:col-6 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-trophy text-sm mr-1"></i>
        Nombre de rifa</label>
      <input [(ngModel)]="rifa.nombre" id="text" type="text" class="custom-input w-full" placeholder="Familia activa">
    </div>

    <div class="field col-12 md:col-4 ">
      <label for="date" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-calendar-days text-sm mr-1"></i>
        Fecha de finalización</label>
      <input [(ngModel)]="rifa.fecha_fin" id="date" type="datetime-local" class="custom-input w-full" placeholder="Seleccionar fecha y hora">
    </div>
  </div>

  <!-- DESCRIPCIÓN D EL LA RIFA -->
  <div class="grid">
    <div class="field col-12 ">
      <label for="date" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-note-sticky text-sm mr-1"></i>
        Descripción de la Rifa</label>
      <textarea [(ngModel)]="rifa.descripcion" id="description" class="custom-input w-full"
        placeholder="Descripción de la rifa"></textarea>
    </div>
  </div>

  <!-- PRECIO Y OPCIONES -->
  <div class="grid">
    <div class="field col-12 md:col-2 ">
      <label for="date" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-dollar-sign text-sm mr-1"></i>
        Precio del ticket ( $ )</label>
      <input [(ngModel)]="rifa.precio" id="date" type="number" class="custom-input w-full" value="1">
    </div>

    <div class="field col-12 md:col-2 ">
      <label for="date" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-money-bill-trend-up text-sm mr-1"></i>
        objetivo de Ventas</label>
      <input [(ngModel)]="rifa.objetivo_ventas" id="date" type="number" class="custom-input w-full" value="100000">
    </div>
  </div>

  <h1 class="text-2xl md:text-4xl mb-4 mt-5 text-gradient">Activar secciones de las rifas</h1>

  <div class="grid">
    <div class="field col-12 md:col-3 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-hourglass-end text-sm mr-1"></i>
        Finalización de la rifa
      </label>
      <input [(ngModel)]="rifa.ver_fecha" id="active-date" type="checkbox" class="custom-input" />
    </div>

    <div class="field col-12 md:col-3 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-users text-sm mr-1"></i>
        Participantes
      </label>
      <input [(ngModel)]="rifa.ver_participantes" id="active-date" type="checkbox" class="custom-input" />
    </div>


    <div class="field col-12 md:col-3 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-award text-sm mr-1"></i>
        Ganador
      </label>
      <input [(ngModel)]="rifa.ver_ganador" id="active-date" type="checkbox" class="custom-input" />
    </div>


    <div class="field col-12 md:col-3 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-ticket text-sm mr-1"></i>
        Tickets disponibles
      </label>
      <input [(ngModel)]="rifa.ver_tickets" id="active-date" type="checkbox" class="custom-input" />
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex gap-1 p-2 justify-content-end">
      <button (click)="createRaffle()" class="custom-btn">Guardar</button>
      <button (click)="closeModal()" class="custom-btn">cerrar</button>
    </div>
  </ng-template>
</p-dialog>

<app-loading [loading]="loading"></app-loading>


<ng-template #activar>
  <div class="flex align-items-center p-2 bg-secondary  border-round-xl">
    <p class="text-white">Activar Rifa</p>
  </div>
</ng-template>