<app-header-buttons></app-header-buttons>

<section class="main-form p-2 md:p-0  pb-5 md:pb-0">
  <h1 class="text-3xl md:text-4xl mb-4 text-gradient">Formulario de Rifa</h1>
  <!-- FOTO -->
  <div class="grid">
    <label class="col-12 field file-upload  ">
      <i class="fas fa-upload text-white"></i> Imagen de la rifa
      <input type="file" (change)="onFileSelected($event)">
      <div *ngIf="selectedFileName" class="text-white text-xs font-semibold">
        Archivo seleccionado: {{ selectedFileName }}
      </div>
    </label>
  </div>

  <!-- nombre de la rifa fecha  -->
  <div class="grid">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-user text-sm mr-1"></i>
        Nombre de rifa</label>
      <input id="text" type="text" class="custom-input w-full" placeholder="Familia activa">
    </div>

    <div class="field col-12 md:col-4 ">
      <label for="date" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-user text-sm mr-1"></i>
        Fecha de finalización</label>
      <input id="date" type="date" class="custom-input w-full" placeholder="Familia activa">
    </div>

    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-user text-sm mr-1"></i>
        Activar fecha
      </label>
      <input id="active-date" type="checkbox" class="custom-input" />
    </div>

  </div>

  <!-- DESCRIPCIÓN D EL LA RIFA -->
  <div class="grid">
    <div class="field col-12 ">
      <label for="date" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-user text-sm mr-1"></i>
        Descripción de la Rifa</label>
      <textarea id="description" class="custom-input w-full" placeholder="Descripción de la rifa"></textarea>
    </div>
  </div>

  <!-- PRECIO Y OPCIONES -->
  <div class="grid">
    <div class="field col-12 md:col-2 ">
      <label for="date" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-user text-sm mr-1"></i>
        Precio del ticket ( $ )</label>
      <input id="date" type="number" class="custom-input w-full" value="1">
    </div>

    <div class="field col-12 md:col-2 ">
      <label for="date" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-user text-sm mr-1"></i>
        objetivo de Ventas</label>
      <input id="date" type="number" class="custom-input w-full" value="100000">
    </div>
  </div>

  <h1 class="text-3xl md:text-4xl mb-4 mt-5 text-gradient">Activar secciones de las rifas</h1>

  <div class="grid">
    <div class="field col-12 md:col-3 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-user text-sm mr-1"></i>
        Finalización de la rifa
      </label>
      <input id="active-date" type="checkbox" class="custom-input" />
    </div>

    <div class="field col-12 md:col-3 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-user text-sm mr-1"></i>
        Participantes
      </label>
      <input id="active-date" type="checkbox" class="custom-input" />
    </div>


    <div class="field col-12 md:col-3 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-user text-sm mr-1"></i>
        Ganador
      </label>
      <input id="active-date" type="checkbox" class="custom-input" />
    </div>


    <div class="field col-12 md:col-3 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-user text-sm mr-1"></i>
        Tickets disponibles
      </label>
      <input id="active-date" type="checkbox" class="custom-input" />
    </div>
  </div>


</section>