<app-header-buttons></app-header-buttons>

<section>
  <div class="grid">
    <div class="field col-6 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-user text-sm mr-1"></i>
        Usuario</label>
      <input id="email" type="text" class="custom-input w-full" placeholder="carolinahernadez@gamil.com">
    </div>

    <div class="field col-6 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-user text-sm mr-1"></i>
        Usuario</label>
      <input id="email" type="text" class="custom-input w-full" placeholder="carolinahernadez@gamil.com">
    </div>
  </div>
</section>