<header class="flex flex-wrap align-items-center  justify-content-between px-4 py-3 shadow-3 gap-3">
  <div class="flex flex-column font-bold ">
    <p class="text-xl text-gradient ">Desdezero</p>
    <span class="text-xs font-italic ">Recuerda que todos empezamos <span class="text-gradient">desdeZero</span></span>
  </div>

  <nav
    class="flex md:flex-row gap-3 md:gap-4 w-full md:w-auto justify-content-center md:justify-content-end mt-3 md:mt-0">
    <a href="#" class="font-semibold text-sm md:text-base">Inicio</a>
    <a href="#" class="font-semibold text-sm md:text-base">Rifas</a>
    <a href="#" class="font-semibold text-sm md:text-base">Tickets</a>
    <a href="#" class="font-semibold text-sm md:text-base">Quiénes Somos</a>
    <a href="#" class="font-semibold text-sm md:text-base">Contacto</a>
  </nav>

</header>



<!-- HOME RESPONSIVO -->
<section
  class=" flex flex-column md:flex-row justify-content-center align-items-center px-4 py-7 flex-wrap pt-3 md:pt-6 bg-dark">
  <!-- TEXTO Y BOTONES -->
  <div class="flex flex-column gap-4 justify-content-center w-full md:w-6 ">
    <div>
      <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold text-gradient">LLevate a tu casa</h1>
      <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-gradient">la bendición que mereces</h1>
    </div>

    <div>
      <p class="text-lg text-white">Únete a nuestra comunidad y descubre oportunidades únicas para ganar.
        <br> Confía en sorteos justos y accesibles desde la comodidad de tu hogar.
      </p>
    </div>

    <!-- ICONOS -->
    <div class="flex md:flex-nowrap justify-content-between  gap-1 md:justify-content-start  md:gap-2 ">
      <div
        class=" flex flex-column gap-2 w-full  sm:w-3 gradient-border text-gradient-animated shadow-5 px-1 py-3  justify-content-center align-items-center">
        <i class="text-xl fa-solid fa-medal"></i>
        <p class="text-xs font-bold">Calidad</p>
      </div>
      <div
        class=" flex flex-column gap-2 w-full sm:w-3 gradient-border text-gradient-animated shadow-5  px-1 py-3 justify-content-center align-items-center">
        <i class="text-xl fa-solid fa-shield-halved"></i>
        <p class="text-xs font-bold">100% seguro</p>
      </div>
      <div
        class=" flex flex-column  gap-2 w-full sm:w-3 gradient-border text-gradient-animated shadow-5 px-1 py-3   justify-content-center align-items-center">
        <i class="text-xl fa-solid fa-trophy"></i>
        <p class="text-xs font-bold ">Un ganador</p>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="flex flex-column sm:flex-row gap-3 mt-4">
      <button (click)="irASeccion()"
        class="custom-btn gradient-border flex align-items-center justify-content-center gap-2  " style="border: none;">
        <span class="text-gradient-animated">Comprar ticket</span>
        <i class="text-gradient-animated text-white fa-regular fa-credit-card"></i>
      </button>
      <button class="custom-btn">¿Cómo funciona?</button>
    </div>
  </div>

  <!-- IMAGEN -->
  @if (!esCelular) {
  <img src="./assets/img/rifa.jpg" class="w-full mt-4 md:mt-0 md:w-6 border-round-xl rotate-right"
    style="box-shadow: -5px  5px 10px 2px rgba(218, 165, 32, 0.516);" alt="Rifa">

  }

</section>

<!-- EStatistics -->
<aside class="px-4">
  <section class="my-5">

    <h1 class="text-3xl md:text-5xl mb-4 text-gradient">Estadísticas</h1>

    <div class="grid justify-content-between">
      <div
        class="col-12 md:col-6 lg:col-3 flex align-items-start justify-content-start p-3 shadow-5 border-round-md gap-2">
        <i style="background-color: #0c6ef0;" class="fa-regular fa-user p-3 text-3xl text-white border-round-md"></i>
        <div class="flex flex-column align-items-start">
          <p class="text-sm font-semibold">Participantes</p>
          <h2 class="text-3xl">1.000</h2>
        </div>
      </div>

      <div
        class="col-12 md:col-6 lg:col-3 flex align-items-start justify-content-start p-3 shadow-5 border-round-md gap-2">
        <i style="background-color: #f0600c;" class="fa-solid fa-ticket p-3 text-3xl text-white border-round-md"></i>
        <div class="flex flex-column align-items-start">
          <p class="text-sm font-semibold">Tickets Vendidos</p>
          <h2 class="text-3xl">45,782</h2>
        </div>
      </div>

      <div
        class="col-12 md:col-6 lg:col-3 flex align-items-start justify-content-start p-3 shadow-5 border-round-md gap-2">
        <i style="background-color: #18c832;" class="fa-solid fa-medal p-3 text-3xl text-white border-round-md"></i>
        <div class="flex flex-column align-items-start">
          <p class="text-sm font-semibold">Premios Entregados</p>

          <h2 class="text-3xl">128</h2>
        </div>
      </div>

      <div
        class="col-12 md:col-6 lg:col-3 flex align-items-start justify-content-start p-3 shadow-5 border-round-md gap-2">
        <i style="background-color: #c77614;"
          class="fa-solid fa-chart-line p-3 text-3xl text-white border-round-md"></i>
        <div class="flex flex-column align-items-start">
          <p class="text-sm font-semibold">Rifas Activas</p>

          <h2 class="text-3xl">1</h2>
        </div>
      </div>
    </div>

  </section>

  <!-- COMO FUNCIONA -->
  <section class="my-5">
    <h1 class="text-3xl md:text-5xl mb-4 text-gradient">¿Cómo funciona?</h1>

    <div class="grid ">
      <div class="col-12 md:col-6 lg:col flex flex-column gap-2">
        <p class="font-bold text-xl md:text-2xl "> <span class="num-list">1</span> Selecciona tus tickets</p>
        <p>Elige la cantidad de tickets que deseas comprar para aumentar tus probabilidades de ganar.</p>
      </div>

      <div class="col-12 md:col-6 lg:col flex flex-column gap-2">
        <p class="font-bold text-xl md:text-2xl "> <span class="num-list ">2</span> Completa tus datos</p>
        <p>Ingresa tu información personal para poder comprar tus tickets y validar tu identidad.</p>
      </div>

      <div class="col-12 md:col-6 lg:col flex flex-column gap-2">
        <p class="font-bold text-xl md:text-2xl "> <span class="num-list ">3</span>Realiza el pago</p>
        <p>Utiliza cualquiera de nuestros métodos de pago disponibles y sube tu comprobante.</p>
      </div>

      <div class="col-12  md:col-6  lg:col flex flex-column gap-2">
        <p class="font-bold text-xl md:text-2xl "> <span class="num-list ">4</span>¡Listo!</p>
        <p>Recibirás tus tickets por correo electrónico y estarás participando automáticamente.</p>
      </div>
    </div>
    <p class="box-info flex align-items-center gap-2 mt-4">
      <i class="text-xl fa-solid fa-circle-info" style="color: #0077ff;"></i> Todos los resultados serán tomados de la
      lotería triple
      tachira En sus
      horarios correspondientes
    </p>
  </section>

  <!-- Rifas -->

  <section #rifas id="rifas" class="grid my-5">
    <div class="col-12 lg:col-6 ">
      <!-- !para una tamño de imagne quemado  h64 -->
      <div class="relative w-full h-full overflow-hidden border-round-xl">
        <img src="assets/img/rifa.jpg" class="w-full h-full object-cover" />
        <div class="gradient-bottom-to-top"></div>
      </div>

      <div style="top: -4rem; left: 1.5rem;" class="flex flex-column relative z-5 gap-2">
        <div class="flex align-items-center justify-content-start gap-2 ">
          <i class="fa-solid fa-calendar text-gradient text-xl"></i>
          <span class="text-white ">Sorteo: 30, de junio de 2024</span>
        </div>

        <div class="flex align-items-center justify-content-start gap-2">
          <i class="fa-solid fa-business-time text-gradient text-xl"></i>
          <span class="text-white">Quedan: 45 Dias</span>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-6 flex flex-column">
      <div class="flex flex-column gap-2">
        <h1 class="text-3xl md:text-5xl font-bold text-gradient-animated">Automóvil Toyota Corolla 2024</h1>

        <div class="flex align-items-center gap-4 justify-content-start">
          <div class="flex align-items-center gap-2">
            <i class="fa-regular fa-user font-semibold text-gradient"></i>
            <span class="text-sm">1,245 Participantes</span>
          </div>
          <span>|</span>
          <div class="flex align-items-center gap-2">
            <i class="fa-solid fa-medal font-semibold text-gradient"></i>
            <span class="text-sm">1 Ganador</span>
          </div>
        </div>

        <p class="mt-3 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, voluptas quo dicta
          provident sint vitae quibusdam maiores libero, ipsa quod, quia iusto nulla ex quasi illum omnis consequatur
          illo tempore nostrum tenetur! Architecto !</p>


        <div class="flex justify-content-between  mt-3">
          <div class="flex flex-column align-items-start">
            <p class="text-sm font-semibold">Precio de ticket</p>
            <h2 class="text-3xl md:text-5xl text-gradient-animated">{{price_ticket}},00$</h2>
          </div>

          <div class="flex flex-column gap-2 align-items-end">
            <p class="text-sm font-semibold">Tickets disponibles</p>
            <input type="range" min="0" max="100" disabled [(ngModel)]="rangeValue"
              [style.background]="getRangeBackground(rangeValue)" />
            <p class="font-bold">1,369 / 5000</p>
          </div>

        </div>

        <!-- botones de compra -->
        <div
          class="flex flex-column md:flex-row justify-content-between align-items-between md:align-items-end  mt-2 gap-3  ">
          <div class="flex flex-column gap-2">
            <p class="font-semibold text-sm">Tickets:</p>

            <!-- !RECUERDA VALIDAR NO COMPRAR DEMAS DE LA CANTIDAD DE TIKETS DISPONIBLES -->
            <div class="flex justify-content-between align-items-center gap-2 ">
              <button class="custom-btn fa-solid fa-minus text-base" (click)="quantity_tickets = quantity_tickets - 1"
                [disabled]="quantity_tickets <= 0"></button>
              <input type="number" class="custom-input  w-full" min="1" max="100" step="1"
                [(ngModel)]="quantity_tickets">
              <button class="custom-btn fa-solid fa-plus " (click)="quantity_tickets = quantity_tickets + 1"> </button>

            </div>
          </div>
          <div flex class="flex flex-column gap-2">
            <div class="flex align-items-center gap-2">
              <p class="font-semibold text-sm">Total:</p>
              <span class="font-bold text-4xl text-gradient-animated">{{quantity_tickets*price_ticket}},00$</span>
            </div>
            <button class="custom-btn w-full">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- FORMULARIO DE PAGO  

  <section>
    <h1 class="text-3xl md:text-5xl mb-4 text-gradient">Formulario de pago</h1>

    <div class="grid">
      <div class="col">
        
        <input type="text" class="custom-input w-full">
      </div>
    </div>

  </section> -->
</aside>