<p-overlayPanel #op>
  <div class="flex justify-content-center  w-full overflow-y-scroll">
    @if (sale) {
    <img [src]="host+sale.comprobante||''" class="w-full border-round-xl">
    }
  </div>
</p-overlayPanel>

<p-overlayPanel #tk>
  <div class="flex justify-content-center  w-full md:w-w-3">
    @for (t of tikesArray; track $index) {
    <p class="text-gradient-animated p-3 text-xl font-bold">{{t}}</p>
    }
  </div>
</p-overlayPanel>

<p-dialog [modal]="true" contentStyleClass="p-3 md:p-4" [showHeader]="true" [resizable]="false" [(visible)]="visible"
  ngClass="w-30rem">
  <div *ngIf="sale" class="p-2 ">
    <div class="flex flex-column gap-2">
      <h3 class="text-2xl font-bold">{{sale.rifa}}</h3>

      <div class="flex justify-content-between align-items-center ">
        <span class="font-semibold">Correo:</span>
        <span class="font-medium bg-secondary text-white border-round-md p-1">{{ sale.correo }}</span>
      </div>
      <div class="flex justify-content-between align-items-center ">
        <span class="font-semibold">Teléfono:</span>
        <span class="font-medium bg-secondary text-white border-round-md p-1">{{ sale.telefono }}</span>
      </div>
      <div class="flex justify-content-between align-items-center ">
        <span class="font-semibold">Cantidad de Tickets:</span>
        <span class="font-medium bg-secondary text-white border-round-md p-1">{{ sale.cantidad_tickets }}</span>
      </div>
      <div class="flex justify-content-between align-items-center ">
        <span class="font-semibold">Total (USD):</span>
        <span class="font-medium bg-secondary text-white border-round-md p-1">{{ sale.total }} $</span>
      </div>
      <div class="flex justify-content-between align-items-center ">
        <span class="font-semibold">Total (BS):</span>
        <span class="font-medium bg-secondary text-white border-round-md p-1">{{ sale.total_bs |number:'1.2-2'}}
          Bs</span>
      </div>
      <div class="flex justify-content-between align-items-center ">
        <span class="font-semibold">Tasa:</span>
        <span class="font-medium bg-secondary text-white border-round-md p-1">{{ sale.tasa }} Bs</span>
      </div>
      <div class="flex justify-content-between align-items-center ">
        <span class="font-semibold">Referencia:</span>
        <span class="font-medium bg-secondary text-white border-round-md p-1">{{ sale.referencia }}</span>
      </div>
      <div class="flex justify-content-between align-items-center ">
        <span class="font-semibold">Método de Pago:</span>
        <span class="font-medium bg-secondary text-white border-round-md p-1">{{ sale.metodo_pago }}</span>
      </div>
      <div class="flex justify-content-start flex-wrap gap-1 align-items-center mt-2">
        @for (t of sale.tikes; track $index) {
        <p class="bg-secondary text-white border-round-md p-3 font-bold text-white">{{t}}</p>
        }
      </div>
    </div>
  </div>
</p-dialog>

<section class="main-form p-3 md:p-0  pb-5 md:pb-0 mb-5 md:mb-0 ">


  <div style="overflow-x: auto; width: 100%;">
    <p-table #dt [value]="sales" [paginator]="!esCelular" [rows]="10"
      [globalFilterFields]="['usuario','estatus','tikes','telefono', 'fecha','correo']" [scrollable]="true"
      scrollHeight="300px" [resizableColumns]="true" class="p-datatable-sm" styleClass="p-datatable-responsive w-full"
      [tableStyle]="{ 'min-width': '1000px' }">

      <!-- Caption for search and column visibility toggle -->
      <ng-template pTemplate="caption">
        <div class="flex align-items-center flex-wrap gap-2 justify-content-start my-4">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" class="custom-input" pInputText placeholder="Buscar"
              (input)="filterGlobal($event, dt)" />
          </span>
          <div *ngFor="let c of columnas">
            <div (click)="toggleColumna(c)" [ngClass]="c.activa ? 'card-payment-active' : 'card-payment'"
              class="card-payment px-1 shadow-5 col-12 md:col">
              <p class="font-semibold text-sm px-1">{{ c.label }}</p>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- Table Header -->
      <ng-template pTemplate="header">
        <tr>
          <ng-container *ngFor="let c of columnas">
            <th *ngIf="c.activa" class="p-2">
              {{ c.label }}
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- Table Body -->
      <ng-template pTemplate="body" let-ticket>
        <tr>
          <ng-container *ngFor="let c of columnas">
            <td *ngIf="c.activa">
              <ng-container [ngSwitch]="c.key">

                <!-- Direct values -->
                <span class="p-2" *ngSwitchCase="'usuario'">{{ ticket.usuario }}</span>
                <span class="p-2" *ngSwitchCase="'telefono'">{{ ticket.telefono }}</span>
                <span class="p-2" *ngSwitchCase="'total_bs'">{{ ticket.total_bs+' Bs' }}</span>
                <span class="p-2" *ngSwitchCase="'fecha'">{{ ticket.fecha| date: 'short' }}</span>

                <!-- Tickets: array join -->
                <span *ngSwitchCase="'tikes'" (click)="mostrarTickets(ticket.tikes, tk, $event)"
                  class="cursor-pointer text-gradient-animated  font-bold">
                  {{ ticket.tikes.length > 1 ? ticket.tikes.slice(0, 1).join(', ') + '...' : ticket.tikes.join(', ') }}
                </span>

                <!-- Pago: imagen -->
                <img *ngSwitchCase="'comprobante'" (click)="mostrarComprobante(ticket, op, $event)"
                  [src]="host+ticket.comprobante" class="w-4rem border-round-xl cursor-pointer" />

                <!-- Estatus: badge -->
                <p *ngSwitchCase="'estatus'" [style.color]="ticket.estatus === 'aprobado' ? '#28a745' : '#ffc107'"
                  class="px-2 py-1 border-round-md font-bold">
                  {{ ticket.estatus === 'aprobado' ? 'Aprobado' : 'Pendiente' }}
                </p>

                <!-- Acción: botones -->
                <span *ngSwitchCase="'accion'" class="flex align-items-center justify-content-start gap-2">
                  <button [pTooltip]="aprobar" tooltipPosition="top" class="btn-form  fa-solid fa-check"
                    (click)="validatePay(ticket.id)" ></button>
                  <button (click)="ver_mas(ticket)" [pTooltip]="vermas" tooltipPosition="top"
                    class="btn-form fa-solid fa-eye"></button>
                  <button (click)="sendEmail()" [pTooltip]="mensaje" tooltipPosition="top"
                    class="btn-form fa-solid fa-comment"></button>
                  <button (click)="rejectPayment()" [pTooltip]="rechazar" [disabled]="ticket.estatus == 'aprobado'"
                    tooltipPosition="top" class="btn-form fa-solid fa-xmark"></button>
                  <button (click)="winUser()" [pTooltip]="ganador" [disabled]="ticket.estatus != 'aprobado'"
                    tooltipPosition="top" class="btn-form fa-solid fa-trophy"></button>
                </span>

              </ng-container>
            </td>
          </ng-container>
        </tr>
      </ng-template>

    </p-table>
  </div>




</section>

<ng-template #aprobar>
  <div class="flex align-items-center p-2 bg-secondary  border-round-xl">
    <p class="text-white">Aprobar pago</p>
  </div>
</ng-template>

<ng-template #rechazar>
  <div class="flex align-items-center p-2 bg-secondary  border-round-xl">
    <p class="text-white">Rechazar pago</p>
  </div>
</ng-template>

<ng-template #vermas>
  <div class="flex align-items-center p-2 bg-secondary  border-round-xl">
    <p class="text-white">Visualizar mas</p>
  </div>
</ng-template>

<ng-template #ganador>
  <div class="flex align-items-center p-2 bg-secondary  border-round-xl">
    <p class="text-white">Seleccionar ganador</p>
  </div>
</ng-template>
<ng-template #mensaje>
  <div class="flex align-items-center p-2 bg-secondary  border-round-xl">
    <p class="text-white">Mensaje personalizado</p>
  </div>
</ng-template>

<app-loading [loading]="loading"></app-loading>