<section class="flex justify-content-between ">

  @if (!esCelular) {
  <div class="flex flex-column  align-items-start justify-content-center  gap-3 p-2 bg-secondary h-screen"
    style="width: 20%;">

    @for (menu of menus; track $index) {
    <a [routerLink]="menu.rute" [ngClass]="menu.active?'item-active':'item'" (click)="activeMenu(menu)"
      class="flex align-items-center p-2  w-full justify-content-start border-round-md">
      <i [ngClass]="menu.icon" class=" mr-2"></i>
      {{menu.name}}
    </a>
    }

    <a (click)="logout()" class="flex align-items-center p-3 text-white border-round-md"
      style="position: absolute; bottom: 20px;">
      <i class="fa-solid fa-right-from-bracket mr-2 text-white"></i>
      salir
    </a>

  </div>
  }@else {
  <div class="flex bg-secondary gap-3  p-2 justify-content-center z-5"
    style="position: fixed; bottom: 0; width: 100%; ">

    @for (menu of menus; track $index) {
    <i (click)="activeMenu(menu)" [routerLink]="menu.rute" [ngClass]="[menu.icon, menu.active ? 'item-active' : 'item']"
      class=" p-2 text-2xl border-round-md "></i>
    }
  </div>
  }

  <div class="flex flex-column w-full h-screen" style="background-color: rgb(238, 238, 238);">
    <header class="flex align-items-center bg-secondary justify-content-between p-3">
      <!-- Logo y nombre -->
      <div class="flex align-items-center cursor-pointer" (click)="logout()">
        <img src="assets/img/logo-negativo.png" class=" w-8rem md:w-10rem" alt="Logo DesdeZero">
      </div>

      <div class="flex flex-column align-items-end ">
        <p class="text-white tex-xs md:text-base ">{{name}}</p>
        <p class="text-xs  md:font-semibold  text-gradient-animated">Super Administrador</p>
      </div>
    </header>

    <div class=" shadow-5 m-0 md:m-3 p-0 md:p-3 bg-white border-round-md overflow-y-scroll">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>