<section class="flex justify-content-between ">

  @if (!esCelular) {
  <div class="flex flex-column  align-items-start justify-content-center  gap-3 p-2 bg-secondary h-screen"
    style="width: 20%;">

    <a class="flex align-items-center w-full  justify-content-start p-2 item-active border-round-md">
      <i class="fa-solid fa-gear  mr-2"></i>
      Configuración
    </a>
    <a [routerLink]="['/dashboard/crear-rifas']"
      class="flex align-items-center item  p-2  w-full justify-content-start border-round-md">
      <i class="fa-solid fa-trophy  mr-2"></i>
      Rifas
    </a>
    <a class="flex align-items-center item  p-2  w-full justify-content-start border-round-md">
      <i class="fa-solid fa-money-bills mr-2"></i>
      Pagos
    </a>
    <a class="flex align-items-center item  p-2  w-full justify-content-start border-round-md">
      <i class="fa-solid fa-credit-card mr-2"></i>
      Métodos de pago
    </a>

    <a class="flex align-items-center item  p-2  w-full justify-content-start border-round-md">
      <i class="fa-solid fa-chart-simple mr-2"></i>
      Estadísticas
    </a>


    <a class="flex align-items-center p-3 text-white border-round-md" style="position: absolute; bottom: 20px;">
      <i class="fa-solid fa-right-from-bracket mr-2 text-white"></i>
      salir
    </a>

  </div>
  }@else {
  <div class="flex bg-secondary gap-3  p-2 justify-content-center" style="position: fixed; bottom: 0; width: 100%;">

    <i class="fa-solid fa-gear item-active p-2 text-2xl border-round-md"></i>
    <i class="fa-solid fa-trophy item p-2 text-2xl border-round-md"></i>
    <i class="fa-solid fa-credit-card text-white p-2 text-2xl border-round-md"></i>
    <i class="fa-solid fa-money-bills item p-2 text-2xl border-round-md"></i>
    <i class="fa-solid fa-chart-simple item p-2 text-2xl border-round-md "></i>
  </div>
  }

  <div class="flex flex-column w-full" style="background-color: rgb(238, 238, 238);">
    <header class="flex align-items-center bg-secondary justify-content-between p-3">
      <!-- Logo y nombre -->
      <div class="flex align-items-center">
        <img src="assets/img/logo-negativo.png" class=" w-8rem md:w-10rem" alt="Logo DesdeZero">
      </div>

      <div class="flex flex-column align-items-end ">
        <p class="text-white tex-xs md:text-base ">Louis Sarmiento</p>
        <p class="text-xs  md:font-semibold  text-gradient-animated">Super Administrador</p>
      </div>
    </header>

    <div class=" shadow-5 m-3 p-3 bg-white border-round-md"  >
      <router-outlet></router-outlet>
    </div>
  </div>
</section>