<div class="w-full flex flex-column gap-3 align-items-center justify-content-center  box-validate-ticket p-4 ">
  <label for="tikect" class="font-semibold text-xl uppercase text-gradient-animated">
    <i class="fa-solid fa-ticket text-xl mr-1 text-gradient-animated"></i>
    validar tickets</label>
  <div class="flex gap-2 w-full">
    <input  [(ngModel)]="internalSearch" (ngModelChange)="onInputChange($event)" id="tikect" type="text" class="custom-input w-full" placeholder="carolinahernadez@gamil.com">
    <button (click)="touchSearch.emit()" class="custom-btn">Buscar</button>
  </div>
  <p class="text-gradient-animated text-center text-sm md:text-base">Puedes buscar tu tickets usando tu correo electrónico</p>
</div>