<app-header-buttons (touchCreate)="openModal()"></app-header-buttons>


<section class="main-form p-3 md:p-0  pb-5 md:pb-0">
  <h1 class="text-3xl md:text-4xl mb-4 text-gradient">Métodos de pago</h1>

  <p-table [value]="litsPay" styleClass="p-datatable-striped" [tableStyle]="{'min-width': 'w-5'}">
    <ng-template pTemplate="header">
      <tr>
        <th class="p-3">Nombre</th>
        <th>Método</th>
        <th>Mínimo tickets</th>
        <th>Acción</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pay>
      <tr>
        <td class="p-3">{{pay.nombre}}</td>
        <td>{{ pay.tipo === 'billeteradigital' ? 'Billetera Digital' : pay.tipo === 'pagomovil' ? 'Pago Movil' : pay.tipo ===
          'transferencia' ? 'Transferencia' : 'No determinado' }}</td>
        <td>{{pay.min_tickets }}</td>

        <td class="flex gap-1 justify-content-start">
          <button (click)="setPay(pay)" class="btn-form fa-solid fa-pen"></button>
          <button (click)="deletePayMethod(pay.id)" class="btn-form fa-solid fa-trash"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</section>

<p-dialog [modal]="true" contentStyleClass="p-3 md:p-4" [showHeader]="true" [resizable]="false" [(visible)]="visible"
  ngClass="w-5  ">
  <p class="text-xl md:text-2xl font-semibold pb-3 text-gradient">Tipo de pago</p>

  <div class="grid gap-2">
    @for (category of categoryBank; track $index) {
    <div (click)="changeCategoryPay(category)" [ngClass]="category.active?'card-payment-active':'card-payment'"
      class="card-payment p-3 shadow-5 col-12 md:col">
      <p lass="font-semibold text-sm md:text-lg">{{category.name}}</p>
    </div>
    }

  </div>

  <div class="grid pt-4">
    <label class="col-12 field file-upload  ">
      <i class="fas fa-upload text-white"></i> Imagen de pago
      <input type="file" #fileInput (input)="onFileSelected($event)" (change)="onFileSelected($event)">
      <div *ngIf="selectedFileName" class="text-white text-xs font-semibold">
        Archivo seleccionado: {{ selectedFileName }}
      </div>
    </label>
  </div>

  <div class="grid ">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Nombre del método de pago</label>
      <input id="text" [(ngModel)]="pay.nombre" type="text" class="custom-input w-full" placeholder="Pago Movil">
    </div>

    <div class="field col-12  md:col-5">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-user-tie text-sm mr-1"></i>
        Titular</label>
      <input [(ngModel)]="pay.titular" id="text" type="text" class="custom-input w-full" placeholder="Andres Belandria">
    </div>

    <div class="field col-12  md:col-3">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-ticket text-sm mr-1"></i>
        Mínimo de tickets</label>
      <input [(ngModel)]="pay.min_tickets" id="number" type="number" class="custom-input w-full" value="1">
    </div>
  </div>
  @if (selectCategory && selectCategory.active) {
  <ng-container *ngTemplateOutlet="selectCategory.key_template"></ng-container>
  }

  <ng-template pTemplate="footer">
    <div class="flex gap-1 p-2 justify-content-end">
      <button (click)="createPay()" class="custom-btn">Guardar</button>
      <button (click)="closeModal()" class="custom-btn">cerrar</button>
    </div>
  </ng-template>
</p-dialog>


<ng-template #pagomovil>
  <div class="grid">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Banco</label>
      <input [(ngModel)]="pay.datos.banco" id="text" type="text" class="custom-input w-full" placeholder="Venezuela">
    </div>
    <div class="field col-12 md:col-3 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Código del banco</label>
      <input [(ngModel)]="pay.datos.codigo_banco" id="text" type="number" class="custom-input w-full"
        placeholder="0102">
    </div>
  </div>

  <div class="grid">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-id-card text-sm mr-1"></i>
        Cédula</label>
      <input id="text" [(ngModel)]="pay.datos.ci" type="number" class="custom-input w-full" placeholder="30452546">
    </div>

    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-users text-sm mr-1"></i>
        Persona jurídica
      </label>
      <input [(ngModel)]="pay.datos.type_person" value="Persona Jurídica" id="active-date" type="radio"
        class="custom-input" />
    </div>

    <div class="field col-12 md:col-4 flex  flex-column justify-content-start gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-users text-sm mr-1"></i>
        Persona natural
      </label>
      <input [(ngModel)]="pay.datos.type_person" value="Persona Natural" id="active-date" type="radio"
        class="custom-input" />
    </div>
  </div>

  <div class="grid">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-phone text-sm mr-1"></i>
        Teléfono</label>
      <input [(ngModel)]="pay.datos.telefono" id="text" type="number" class="custom-input w-full"
        placeholder="041239485923">
    </div>
  </div>
</ng-template>

<ng-template #transferencia>
  <div class="grid">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Banco</label>
      <input [(ngModel)]="pay.datos.banco" id="text" type="text" class="custom-input w-full" placeholder="Venezuela">
    </div>
    <div class="field col-12 md:col-3 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Código del banco</label>
      <input [(ngModel)]="pay.datos.codigo_banco" id="number" type="number" class="custom-input w-full"
        placeholder="0102">
    </div>
  </div>

  <div class="grid">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-id-card text-sm mr-1"></i>
        Cédula</label>
      <input [(ngModel)]="pay.datos.ci" id="text" type="number" class="custom-input w-full">
    </div>

    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="personaJuridica" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-users text-sm mr-1"></i>
        Persona jurídica
      </label>
      <input [(ngModel)]="pay.datos.type_person" value="Persona Jurídica" id="personaJuridica" name="type_person"
        type="radio" class="custom-input" />
    </div>

    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="personaNatural" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-users text-sm mr-1"></i>
        Persona natural
      </label>
      <input [(ngModel)]="pay.datos.type_person" value="Persona Natural" id="personaNatural" name="type_person"
        type="radio" class="custom-input" />
    </div>
  </div>


  <div class="grid">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Nro Cuenta</label>
      <input [(ngModel)]="pay.datos.nro_cuenta" id="text" type="number" class="custom-input w-full"
        placeholder="1881491580">
    </div>

    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="cuentaCorriente" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-users text-sm mr-1"></i>
        Corriente
      </label>
      <input [(ngModel)]="pay.datos.cuenta" value="Corriente" id="cuentaCorriente" name="cuenta" type="radio"
        class="custom-input" />
    </div>

    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="cuentaAhorro" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-users text-sm mr-1"></i>
        Ahorro
      </label>
      <input [(ngModel)]="pay.datos.cuenta" value="Ahorro" id="cuentaAhorro" name="cuenta" type="radio"
        class="custom-input" />
    </div>
  </div>

</ng-template>


<ng-template #billeteradigital>
  <div class="grid">
    <div class="field col-12  ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-at text-sm mr-1"></i>
        Correo</label>
      <input [(ngModel)]="pay.datos.correo" id="text" type="text" class="custom-input w-full"
        placeholder="david@gmail.com">
    </div>
  </div>

</ng-template>