<app-header-buttons></app-header-buttons>


<section class="main-form p-3 md:p-0  pb-5 md:pb-0">
  <h1 class="text-3xl md:text-4xl mb-4 text-gradient">Formularios de pago</h1>


  <p class="text-xl md:text-2xl font-semibold pb-3 text-gradient">Tipo de pago</p>
  <div class="grid gap-2">
    @for (category of categoryBank; track $index) {
    <div (click)="changeCategoryPay(category)" [ngClass]="category.active?'card-payment-active':'card-payment'"
      class="card-payment p-3 shadow-5 col-12 md:col">
      <p lass="font-semibold text-sm md:text-lg">{{category.name}}</p>
    </div>
    }

  </div>

  <div class="grid pt-3">
    <div class="field col-12 md:col-6 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Nombre del método</label>
      <input id="text" type="text" class="custom-input w-full" placeholder="Transferencia">
    </div>

    <div class="field col-12  md:col-6">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-user-tie text-sm mr-1"></i>
        Titular</label>
      <input id="text" type="text" class="custom-input w-full" placeholder="Andres Belandria">
    </div>
  </div>

  @if (selectCategory && selectCategory.active) {
  <ng-container *ngTemplateOutlet="selectCategory.key_template"></ng-container>
  }


</section>

<ng-template #pagomovil>
  <div class="grid">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Banco</label>
      <input id="text" type="text" class="custom-input w-full" placeholder="Venezuela">
    </div>
    <div class="field col-12 md:col-3 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Código del banco</label>
      <input id="text" type="number" class="custom-input w-full" placeholder="0102">
    </div>
  </div>

  <div class="grid">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-id-card text-sm mr-1"></i>
        Cédula</label>
      <input id="text" type="text" class="custom-input w-full" placeholder="30452546">
    </div>

    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-users text-sm mr-1"></i>
        Persona jurídica
      </label>
      <input id="active-date" type="checkbox" class="custom-input" />
    </div>

    <div class="field col-12 md:col-4 flex  flex-column justify-content-start gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-users text-sm mr-1"></i>
        Persona natural
      </label>
      <input id="active-date" type="checkbox" class="custom-input" />
    </div>
  </div>

  <div class="grid">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-phone text-sm mr-1"></i>
        Teléfono</label>
      <input id="text" type="text" class="custom-input w-full" placeholder="041239485923">
    </div>
  </div>
</ng-template>

<ng-template #transferencia>
  <div class="grid">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Banco</label>
      <input id="text" type="text" class="custom-input w-full" placeholder="Venezuela">
    </div>
    <div class="field col-12 md:col-3 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Código del banco</label>
      <input id="text" type="number" class="custom-input w-full" placeholder="0102">
    </div>
  </div>

  <div class="grid">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-id-card text-sm mr-1"></i>
        Cédula</label>
      <input id="text" type="number" class="custom-input w-full">
    </div>

    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-users text-sm mr-1"></i>
        Persona jurídica
      </label>
      <input id="active-date" type="checkbox" class="custom-input" />
    </div>

    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-users text-sm mr-1"></i>
        Persona natural
      </label>
      <input id="active-date" type="checkbox" class="custom-input" />
    </div>
  </div>


  <div class="grid">
    <div class="field col-12 md:col-4 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Nro Cuenta</label>
      <input id="text" type="number" class="custom-input w-full" placeholder="1881491580">
    </div>

    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-users text-sm mr-1"></i>
        Corriente
      </label>
      <input id="active-date" type="checkbox" class="custom-input" />
    </div>

    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-users text-sm mr-1"></i>
        Ahorro
      </label>
      <input id="active-date" type="checkbox" class="custom-input" />
    </div>
  </div>

</ng-template>


<ng-template #billeteradigital>
  <div class="grid">
    <div class="field col-12  ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-at text-sm mr-1"></i>
        Correo</label>
      <input id="text" type="text" class="custom-input w-full" placeholder="david@gmail.com">
    </div>
  </div>

</ng-template>