<app-header-buttons (touchCreate)="createConfig()"></app-header-buttons>

<section class="main-form p-3 md:p-0  pb-5 md:pb-0">
  <h1 class="text-3xl md:text-4xl mb-4 text-gradient">Configuración Web</h1>

  <div class="grid">
    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-building-columns mr-1 text-sm "></i>
        Promedio
      </label>
      <input name="tasa" [(ngModel)]="configuration_web.tasa_banco" value="promedio" type="radio"
        class="custom-input" />
    </div>
    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Paralelo
      </label>
      <input name="tasa" [(ngModel)]="configuration_web.tasa_banco" value="paralelo" type="radio"
        class="custom-input" />
    </div>
    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Bvc
      </label>
      <input name="tasa" [(ngModel)]="configuration_web.tasa_banco" value="bcv" type="radio" class="custom-input" />
    </div>
  </div>

  <div class="grid">
    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-building-columns text-sm mr-1"></i>
        Tasa personalizada
      </label>
      <input [(ngModel)]="configuration_web.tasa_personalizada" type="number" class="custom-input" />
    </div>
  </div>

  <h1 class="text-3xl md:text-4xl mb-4 text-gradient">Contacto</h1>


  <div class="grid">
    <div class="field col-12 md:col-6 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-phone text-sm mr-1"></i>
        Teléfono de soporte</label>
      <input id="text" [(ngModel)]="configuration_web.telefono" type="number" class="custom-input w-full"
        placeholder="ej: 04129844334">
    </div>
    <div class="field col-12 md:col-6 ">
      <label for="email" class="font-semibold text-xs uppercase">
        <i class="fa-solid fa-envelope text-sm mr-1"></i>
        Correo de soporte</label>
      <input id="text" type="email" [(ngModel)]="configuration_web.correo" class="custom-input w-full"
        placeholder="soporte@desdezerolg.com">
    </div>
  </div>

  <h1 class="text-3xl md:text-4xl mb-4 text-gradient">Secciones</h1>

  <div class="grid">
    <div class="field col-12 md:col-4 flex  flex-column justify-content-start  gap-2">
      <label for="active-date" class="font-semibold text-xs uppercase m-0">
        <i class="fa-solid fa-chart-simple text-sm mr-1"></i>
        Estadísticas
      </label>
      <input [(ngModel)]="configuration_web.estadisticas" id="active-date" type="checkbox" class="custom-input" />
    </div>
  </div>
</section>

<app-loading [loading]="loading"></app-loading>