

* {
  color: var(--text-color-black);
  margin: 0;
  padding: 0;
  font-family: "Geist", sans-serif;
  box-sizing: border-box;
}

::selection {
  background-color: var(--secondary-color); /* negro */
  color: white;              /* texto blanco */
}

html {
  scroll-behavior: smooth;
}

.grid {
  margin: 0 !important;
}

a {
  color: var(--secondary-color);
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;

}

a:hover {
  color: var(--primary-custom-color);
  transition: 0.2s;
}

.custom-btn {
  font-size: 17px;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--text-color-light);
  cursor: pointer;
  transition: 0.2s;

}

.custom-btn:hover {
  background-color: var(--background-color);
  transform: scale(1.05);
  transition: 0.2s;
}


.rotate-right {
  transform: rotate(5deg);
  transition: 0.5s;
}

.rotate-right:hover {
  transform: rotate(2deg);
  transition: 0.5s;
}

.custom-input {
  color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid var(--secondary-color);
  box-sizing: border-box;

}


.num-list {
  margin-right: 10px;
  /* este padding es para unos numeros, que todos se vean iguales */
  padding: 5px 12px;
  font-size: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-custom-color);
  border-radius: 100%;


}

/* h1{
   font-family: "Cal Sans", sans-serif;
} */
/* === Colores de fondo === */
.bg-primary {
  background-color: var(--primary-custom-color);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-white {
  background-color: var(--text-color-light);
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-dark {
  background-color: var(--background-color);
}

/* === Colores de texto === */
.text-white {
  color: var(--text-color-light);
}

.text-dark {
  color: var(--text-color-black);
}

.text-primary-custom {
  color: var(--primary-custom-color);
}

.text-accent {
  color: var(--accent-color);
}

/* === Bordes === */
.border-default {
  border: 1px solid var(--border-color);
}

.border-primary {
  border: 1px solid var(--primary-custom-color);
}

.border-accent {
  border: 1px solid var(--accent-color);
}

/* === Hover states === */
.hover-bg-primary:hover {
  background-color: var(--primary-custom-color);
}

.hover-bg-accent:hover {
  background-color: var(--accent-color);
}

.hover-text-accent:hover {
  color: var(--accent-color);
}

.text-gradient {
  background: linear-gradient(90deg, var(--primary-custom-color), var(--primary-dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(90deg, var(--primary-custom-color), var(--primary-dark));
}


.box-info {
  background-color: #b1d6ff;
  color: #0077ff;
  padding: 10px 20px;
  border-radius: 5px;
}


.box-validate-ticket {
  background-color: var(--background-color);
  box-sizing: border-box;
  border-radius: 5px;

  label,
  i,
  p {
    color: #fff;
  }

}

/* 🎨 Animación de gradiente USANDO TEXTO */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-gradient-animated {
  background: linear-gradient(90deg, var(--primary-custom-color), var(--primary-dark), #eab543);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: gradient 1s ease infinite;
}


/* 🎨 Borde con gradiente */
.gradient-border {
  position: relative;
  z-index: 3;
  border-radius: 3px;
  overflow: hidden;
}

.gradient-border::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(90deg, var(--primary-custom-color), var(--primary-dark), #eab543, var(--primary-custom-color));
  background-size: 300% 100%;
  animation: animated-gradient-border 1s linear infinite;
  border-radius: inherit;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

/* 🔄 Animación del borde */
@keyframes animated-gradient-border {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-bottom-to-top {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.829) 0%, rgba(0, 0, 0, 0) 40%);
  z-index: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 6px;
  background: linear-gradient(to right, var(--primary-custom-color) 0, var(--primary-custom-color) 50%, #eee 50%, #eee 100%);
  outline: none;
  pointer-events: auto;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.card-payment {
  border: 2px solid rgba(255, 0, 0, 0);
  color: var(--secondary-color);
  cursor: pointer;
  border-radius: 7px;
  box-sizing: border-box;
  transition: all 0.2s;
}

.card-payment:hover,
.card-payment-active {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-custom-color);
  transition: all 0.2s;
  box-sizing: border-box;

  p {
    background: linear-gradient(90deg, var(--primary-custom-color), var(--primary-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s;
    box-sizing: border-box;
  }

  img {
    filter: brightness(0) invert(1);
    transition: all 0.2s;
    box-sizing: border-box;
  }


}

.img-payment {
  width: 50px;
}

.file-upload {
  box-sizing: border-box;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  padding: 10px 20px;
  font-size: 16px;

  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}


.file-upload input[type="file"] {
  display: none;
}

.support-btn {
  border-radius: 100%;
  cursor: pointer;
  border: none;
  background-color: rgb(26, 174, 26);

  i {
    color: #fff
  }

}

.text-support {
  color: #fff;
  padding: 6px;
  border-radius: 6px;
  background-color: rgb(26, 174, 26);
}

.btn-form {
  background-color: var(--background-color);
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color-light);
  transform: scale(1);
  transition: 0.2s;
}

.btn-form:hover {
  transform: scale(1.05);
  transition: 0.2s;
}


.main-form {
  margin: 30px 0 0 0;
}

.custom-input[type="checkbox"] {
  accent-color:var(--secondary-color);
  width: 30px;
  height: 30px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0px;
}

.swal2-container {
  z-index: 20000 !important;
}