<div class="flex flex-column gap-2 w-full my-5">
  <div class="flex align-items-center justify-content-center">
    <div class="flex-grow-1 border-top-1 shadow-5" style="color: #b1d6ff"></div>
    <p
      class="mx-4 text-2xl font-bold border-circle shadow-5"
      style="background-color: #b1d6ff; color: #0077ff; padding: 6px 16px"
    >
      {{ step }}
    </p>
    <div class="flex-grow-1 border-top-1 shadow-5" style="color: #b1d6ff"></div>
  </div>

  <p class="text-2xl font-semibold text-center mt-2" style="color: #0077ff">
    {{ title }}
  </p>
</div>
